*{
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: 'Courier New', monospace;
}

div{
    padding: 5px;
    margin: 10px;

}

.navbar{
    margin: 10px 0px;
    background-color: gray;
}
.hero-section{
    background-color: gray;
    height: 700px;
    width: 800px;
    margin: auto;
    text-align: center;
}

.main-pic{
    display: inline-block;
    width: 600px;
}

.main-pic .food-pic{
    width: 500px;
    height: auto;

}

.main-content{
    display: inline-block;
    background-color: white;
    width: 600px;
    height: auto;
}

.main-content .food-name{
    font-size: 30px;
}


.but{
    font-family: inherit;
    padding: 20px;
}

.catalog{
    background-color: gray;
}

.card{
    background-color: orange;;
    display: inline-block;
}

.card .food-pic{
    height: 200px;
    width: 300px;
}



.food-name{

}

.food-content{

}